body {
  padding: 10px;
  display: grid;
  grid-template-areas: 
    'header'
    'main'
  ;
}

header {
  grid-area: header;
  text-align: center;
}

main {
  grid-area: main;
  display: inline-flex;
}

.card {
  display: flex;
  border: solid 1px gray;
  padding: 5px;
  text-align: center;
}